@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body {
  padding: 80px 10px;
}

.main {
  max-width: 900px;
  margin: auto;
  text-align: center;
  justify-items: center;
}

.card-price {
  font-size: 15px;
  margin: 0;
  color: black;
}
.title {
  font-size: 18px;
}

.price {
  font-size: 15px;
}

.remove-button {
  width: 50%;
  margin: 5px 25% 5px 25%;
}

a {
  text-decoration-line: none !important;
  text-decoration: none;
}

/* Add.jsx */
.add-form {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  width: 900px;
  padding: 40px;
  display: inline-block;
  vertical-align: middle;
}

.add-button {
  padding-top: 70px;
}

/* Header.jsx */
.nav-var {
  max-height: 50px;
}
.nav-link {
  padding-left: 20px !important;
  padding-right: 0 !important;
}
.badge {
  padding: 3px;
}
.menus {
  margin: 10px;
  font-size: smaller;
}

/* Products.jsx */
.products-card {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-size {
  width: 320px;
  height: 260px;
}

.products-card-image {
  object-fit: contain;
  display: inline-block;
  margin-top: 5%;
  overflow: hidden;
  align-content: center;
}
.products-card-title {
  font-size: 17px !important;
  color: #4f4f4d;
}

/* ProductCard.jsx */
.product-card {
  padding: 30px 0;
}
.card-padding {
  padding: 5%;
}
.card-image {
  object-fit: contain;
  display: inline-block;
  width: 50% !important;
  margin: 2%;
}
.card-description {
  font-size: 17px;
  padding-top: 10px;
}
.card-rate-count {
  font-size: 15px;
}
.card-button {
  margin: 5px;
}

/* Footer.jsx */
.footer {
  max-height: 30px;
  background-color: white;
}

@media (min-width: 430px) {
  body {
    margin: 40px 10% 0 10%;
  }
  .card-image {
    width: 30% !important;
  }
  .remove-button {
    width: 20%;
    margin: 5px 40% 5px 40%;
  }
}
